* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

.app {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  width: 900px;
}

.container {
  width: 430px;
}

.elements {
  width: 430px;
}

.noElements {
  text-align: center;
}

.list-element {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(59, 42, 25);
  color: rgb(97, 95, 95);
  opacity: 0.5;
  width: 100%;
}
